---
import SectionLayout from '../layouts/SectionLayout.astro';
interface Props {
    bgColor: string;
    textColor: string;
}

const { bgColor, textColor } = Astro.props;
const year = new Date().getFullYear() - 2016;
---


<SectionLayout id="about" bgColor={bgColor} textColor={textColor} title='Chi Sono'>
    <div class='t-about p-5 fade-in flex flex-col justify-center text-center'>
        <p class="z-10">
            Sono uno sviluppatore Full Stack proveniente dalla Sicilia ma ormai
            trasferito a Roma da circa {year} anni.
        </p>
        <!-- <p class="z-10">Ricopro il ruolo di SAP BTP Practice Leader (SME) in GotoNext SRL</p> -->
        <p class="z-10">
            Ho iniziato la mia carriera come sviluppatore Java, ma negli ultimi
            anni mi sono focalizzato su tecnologie SAP per lavoro mentre mi
            diletto in progetti personali con tecnologie come React, NodeJS e
            TypeScript.
        </p>
        <p class="z-10">
            Ad oggi ricopro il ruolo di SAP BTP Practice Leader (SME) in
            GotoNext SRL. Sono Team leader di un team di circa 16 persone e mi
            occupo di progettazione e sviluppo di architetture SAP BTP e
            infrastrutture on premise.
        </p>
        <div class='flex justify-center'>
            <img src='sicily.svg' alt='Sicilia' class='w-1/6 my-10' />
        </div>
    </div>
</SectionLayout>
