---
import HeaderSection from '../components/HeaderSection.astro';
---

<section
    class='h-screen flex justify-center items-center flex-col text-white bg-gray-600'
>
    <!-- <h1 class='text-4xl mb-10'>About</h1> -->
    <HeaderSection title='About' />
    <p>I'm a software engineer from Sicily (IT) and based in Rome (IT).</p>
    <p>I'm current working at GotoNext</p>
</section>
