---
import Timeline from '../components/Timeline.astro'
import type { Locale } from '../data/types'
import { getExperiences } from '../data/util'
import HeaderSection from '../layouts/HeaderSection.astro'
const { currentLocale } = Astro
const experiences = await getExperiences(currentLocale as Locale)
---

<section id='experiences' class='my-8 align-middle max-w-6xl mx-auto px-5'>
  <HeaderSection
    title={currentLocale === 'en' ? 'Experiences' : 'Esperienze'}
    description='Team Leader, Software Architect, Progettazione ed implementazione architetture On Prem con integrazione su SAP ECC, Progettazione e implementazione architetture In Cloud - SAP BPT, Sviluppo e progettazione applicazioni SAP Fiori, SAP CAP, SAP ABAP; Sviluppo applicazioni React & React Native; Prototipazione e sviluppo middleware Node js'
  />
  <ol class='border-l border-gray-500'>
    {
      experiences &&
        experiences.map(experience => <Timeline experience={experience} />)
    }
  </ol>
</section>
