---

---

<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<footer class='bg-gray-200 text-center dark:bg-gray-700 lg:text-left'>
    <div class='p-4 text-center text-gray-700 dark:text-gray-200'>
        © 2024 Copyright:
        <p class='text-gray-800 dark:text-gray-400'>
            With ♥️ <code> &lt;Salvatore La Spata/&gt;</code>
        </p>
    </div>
</footer>
