---

---

<footer id='footer' class='bg-bg border-t-2 border-border p-4'>
  <div
    class='text-center bg-bg
                rounded-lg
                p-2
                border
                border-border
                shadow-shadow
                shadow-[4px_4px_0px_rgba(0,0,0,1)]'
  >
    © 2024 Copyright:
    <p class='text-link'>
      With ♥️ <code> &lt;Salvatore La Spata/&gt;</code>
    </p>
  </div>
</footer>
