---

---

<script>
    // import gsap from "gsap";
    // import { ScrollTrigger } from "gsap/ScrollTrigger";
    // gsap.registerPlugin(ScrollTrigger);

    // const container = document.querySelector("footer");
    // const innerContainer = document.querySelector("footer > div");
    // if (container && innerContainer) {
    //     gsap.to(container, {
    //         padding: "0px",
    //         scrollTrigger: {
    //             trigger: container,
    //             start: "bottom bottom",
    //             end: " top",
    //             scrub: true,
    //             markers: true,
    //         },
    //     });
    //     gsap.to(innerContainer, {
    //         borderRadius: "0px",
    //         scrollTrigger: {
    //             trigger: container,
    //             start: "bottom bottom",
    //             end: " top",
    //             scrub: true,
    //             markers: true,
    //         },
    //     });
    // }
</script>
<footer id="footer" class="bg-bg border-t-2 border-border p-4">
    <div
        class="text-center bg-bg
                rounded-lg
                p-2
                border
                border-border
                shadow-shadow
                shadow-[4px_4px_0px_rgba(0,0,0,1)]"
    >
        © 2024 Copyright:
        <p class="text-link">
            With ♥️ <code> &lt;Salvatore La Spata/&gt;</code>
        </p>
    </div>
</footer>
