---
import SocialLinks from "../components/SocialLinks.astro";
---

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const container = document.querySelector("#main");
  const innerContainer = document.querySelector("#main > div");
  if (container && innerContainer) {
    gsap.to(container, {
      padding: "0px",
      scrollTrigger: {
        trigger: container,
        start: "top top",
        end: "80% top",
        scrub: true,
      },
    });
    gsap.to(innerContainer, {
      borderRadius: "0px",
      scrollTrigger: {
        trigger: container,
        start: "top top",
        end: "80% top",
        scrub: true,
      },
    });
  }
</script>

<main id="main" class="h-screen p-4 md:p-8 mx-auto">
  <div
    class="h-full flex justify-center items-center flex-col rounded-lg overflow-hidden text-text
    bg-bg
    border
    border-border
    shadow-shadow
    shadow-[4px_4px_0px_rgba(0,0,0,1)]"
  >
    <h1 class="g-nome text-2xl font-bold z-10">Salvatore La Spata</h1>
    <h2 class="g-role text-center text-xl underline z-10 pt-4">
      Full-Stack Software Engineer
    </h2>

    <h3 class="g-company text-center text-lg pt-4 z-10">
      SAP BTP Practice Leader <span class="text-lg text-link">
        @GotoNext S.r.l.
      </span>
    </h3>
    <div class="w-1/4 h-16 flex flex-row bg-bg py-4">
      <div class="w-1/5 h-full bg-palette1"></div>
      <div class="w-1/5 h-full bg-palette2"></div>
      <div class="w-1/5 h-full bg-palette3"></div>
      <div class="w-1/5 h-full bg-palette4"></div>
      <div class="w-1/5 h-full bg-palette5"></div>
    </div>

    <SocialLinks
      socials={{
        github: {
          img: "social-github--white.svg",
          url: "https://github.com/salvatorelaspata",
          title: "Github",
        },
        gmail: {
          img: "social-gmail.svg",
          url: "mailto:salvatore.la.spata@gmail.com?subject=Hello%20Salvatore!",
          title: "gmail",
        },
        linkedin: {
          img: "social-linkedin.svg",
          url: "https://www.linkedin.com/in/salvatore-la-spata/",
          title: "Linkedin",
        },
      }}
    />
  </div>
</main>
