---

import SectionLayout from '../layouts/SectionLayout.astro';
import SocialLinks from '../components/SocialLinks.astro';

interface Props {
    bgColor: string;
    textColor: string;
}
const { bgColor, textColor } = Astro.props;
---
<SectionLayout id="main" bgColor={bgColor} textColor={textColor} main={true}>
    <p class='text-2xl z-10'>Ciao 👋 Sono</p>
    <h1 class='trigger text-4xl font-bold px-3  z-10'>
        Salvatore
    </h1>
    <h1 class='text-4xl font-bold px-3 text-nowrap z-10'>La Spata</h1>
    <div class='sticker absolute bottom-2 right-14'>
        <img class='rounded-full opacity-40 z-0 w-auto h-32'
            height='auto'
            src='sticker.webp'
            alt="Salvatore's sticker"
        />
    </div>
    <h2 class='el5 text-center text-2xl underline p-3 z-10'>
        Full-Stack Software Engineer
    </h2>
    <h3 class='el6 text-center text-2xl p-3  z-10'>
        SAP BTP Practice Leader <span class='text-lg text-blue-500'>
          @GotoNext S.r.l.
        </span>
    </h3>
    <SocialLinks
        socials={{
            github: {
                img: 'social-github--white.svg',
                url: 'https://github.com/salvatorelaspata',
                title: 'Github',
            },
            gmail: {
                img: 'social-gmail.svg',
                url: 'mailto:salvatore.la.spata@gmail.com?subject=Hello%20Salvatore!',
                title: 'gmail',
            },
            linkedin: {
                img: 'social-linkedin.svg',
                url: 'https://www.linkedin.com/in/salvatore-la-spata/',
                title: 'Linkedin',
            },
        }}
    />
</SectionLayout>
