---
interface Props {
    title: string;
    bgColorIcon: string;
    textColorIcon: string;
}

const { title, bgColorIcon, textColorIcon } = Astro.props;
---

<div
    class='cardSimple h-full rounded bg-gray-700 p-4 flex flex-col justify-center items-center'
>
    <div
        class={`w-10 h-10 inline-flex items-center justify-center rounded-full ${bgColorIcon} ${textColorIcon} mb-5 flex-shrink p-2`}
    >
        <slot />
    </div>
    <h2
        class={`text-lg text-center  items-center md:text-xl h-full title-font font-medium ${textColorIcon}`}
    >
        {
            title.split('\n').map((a) => {
                return <p class="mx-auto">{a}</p>
            })
        }
    </h2>
</div>
