---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div
    class={`rounded bg-bg p-4 flex flex-col justify-center items-center`}
>
    <div
        class={`w-10 h-10 inline-flex items-center justify-center rounded-full mb-3 flex-shrink-0 p-2`}
    >
        <slot />
    </div>
    <h2
        class={`text-sm text-center title-font font-medium`}
    >
        {
            title.split('\n').map((a) => {
                return <p class="mx-auto">{a}</p>
            })
        }
    </h2>
</div>
