---
type Enumerate<N extends number, Acc extends number[] = []> = Acc['length'] extends N
  ? Acc[number]
  : Enumerate<N, [...Acc, Acc['length']]>

type IntRange<F extends number, T extends number> = Exclude<Enumerate<T>, Enumerate<F>>

type T = IntRange<1, 5>

interface Props {
    title?: string;
    class?: string;
    cols?: T;
}

const { title, class: c, cols } = Astro.props;
const col = cols || 2;
const colClass = `grid-cols-${col} md:grid-cols-${col + 1} lg:grid-cols-${col + 2}`;
---

<div class=`${c} w-full text-start`>
    {title && 
    <h1
        class='title-font my-3 text-2xl font-extrabold leading-10 tracking-tight sm:text-3xl sm:leading-none md:text-4xl'
    >
        {title}
    </h1>
    <div class='flex my-1 justify-center'>
        <div class='w-full h-1 rounded-full bg-blue-500 inline-flex'></div>
    </div>
    }
    <div class={`w-full grid ${colClass} gap-5`}>
        <slot />
    </div>
</div>
