---
type item = {
    url: string;
    title: string;
    img: string;
};
interface Props {
    socials: {
        github: item;
        gmail: item;
        linkedin: item;
    };
}
const { socials } = Astro.props;
---
<!-- <h3 class='el7 mt-6 mb-4 text-xl z-10'>Contatti</h3> -->
<!-- lg:w-1/2 -->
<div class='el7 absolute bottom-4 right-2 z-10'>
    <div class="flex flex-row">
    {
        Object.entries(socials).map(([key, { url, img }]) => (
            <a
                href={url}
                title={`${key} - Salvatore La Spata`}
                target='_blank'
                class='flex flex-col items-center w-16'
            >
                <img
                    class='size-10 mt-2'
                    src={img}
                    alt={`${key} social link`}
                />
            </a>
        ))
    }
    </div>
</div>
