---
interface Props {
    title: string | undefined;
    description?: string | undefined;
}

const { title, description } = Astro.props;
---

<div class='w-screen text-center my-8 z-10'>
    <h1
        class='z-10 t-head title-font mb-4 text-4xl font-extrabold leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-6xl'
    >
        {title || ''}
    </h1>
    {description && 
    <p class='z-10 t-subhead text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-5 sm:mx-auto'>
        {description}
    </p>
    }
    <div class='z-10 flex mt-6 justify-center'>
        <div class='w-16 h-1 rounded-full bg-peer dark:bg-peer-dark inline-flex'></div>
    </div>
</div>
