---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

import BackToTop from "../components/ui/BackToTop.astro";
import ToggleTheme from "../components/ui/ToggleTheme.astro";
import ClickSpark from "../components/ClickSpark.astro";
interface Props {
  title: string;
  description?: string;
  keywords?: string;
}

const {
  title,
  description = "Salvatore La Spata website",
  keywords = "Salvatore La Spata, Salvatore, La Spata, Salvatore La Spata website, salvatorela, developer, software engineer, salvatorelaspata.net, salvatorelaspata.dev",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Salvatore La Spata" />
    <meta name="keywords" content={keywords} />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/sticker.webp" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <script is:inline>
      // Apply theme immediately to prevent flash
      (function() {
        const theme = localStorage.getItem("theme") ||
          (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      })();
    </script>
    <ClientRouter />
  </head>
  <body class="w-full font-mono m-0 bg-bg text-text">
    <ClickSpark sparkSize={15} sparkRadius={20} sparkCount={12} duration={0.5}>
      <ToggleTheme />
      <slot />
      <BackToTop />
    </ClickSpark>
  </body>
</html>
