---
import BackToTop from "../components/ui/BackToTop.astro";
import ToggleTheme from "../components/ui/ToggleTheme.astro";
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Salvatore La Spata website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Salvatore La Spata" />
    <meta
      name="keywords"
      content="Salvatore La Spata, Salvatore, La Spata, Salvatore La Spata website"
    />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/sticker.webp" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </head>
  <body class="w-full font-mono m-0">
    <ToggleTheme />
    <slot />
    <BackToTop />
  </body>
</html>
