<button
	data-testId="back-to-top-button"
	type="button"
	aria-label="back to top button"
	data-mdb-ripple="true"
	data-mdb-ripple-color="light"
	class="hidden fixed bottom-2 right-2 w-10 h-10 justify-center items-center border-2
	border-border
	active:bg-palette1
	bg-palette1
	hover:bg-palette5
	transition-all
	hover:translate-x-[-4px]
	hover:translate-y-[-4px]
	hover:shadow-shadow
	hover:shadow-[4px_4px_0px_rgba(0,0,0,1)]"
	id="btn-back-to-top"
>
	<svg
		aria-hidden="true"
		focusable="false"
		data-prefix="fas"
		class="h-4 w-4 text-white"
		role="img"
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 448 512"
		><path
			fill="currentColor"
			d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
		></path></svg
	>
</button>

<script>
	const btn = document.getElementById("btn-back-to-top");
	window.addEventListener("scroll", () => {
		if (!btn) return;
		if (window.scrollY > 100) {
			btn.style.display = "flex";
		} else {
			btn.style.display = "none";
		}
	});
	document
		?.getElementById("btn-back-to-top")
		?.addEventListener("click", () => {
			window.scrollTo({
				top: 0,
				behavior: "smooth",
			});
		});
</script>
