---

---

<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<footer class='w-full z-10 text-center dark:bg-gray-700 lg:text-left flex justify-center items-center flex-col bg-dark pb-5'>

        © 2024 Copyright:
        <p class='text-gray-800 dark:text-gray-400'>
            With ♥️ <code> &lt;Salvatore La Spata/&gt;</code>
        </p>
</footer>
