---

---
<div class="md:flex md:items-center">
	<label class="theme-switch inline-flex items-center cursor-pointer">
		<input type="checkbox" value="true" class="sr-only peer">
		<div class="relative w-11 h-6 ring-light peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-light dark:peer-focus:ring-dark rounded-full peer dark:bg-peer-dark peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:border-0 after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-first:bg-peer peer-checked:bg-peer-dark"></div>
		<span class="hidden ms-3 xl:flex text-sm font-medium t-main">
			Dark Mode (<span class="dark:block hidden">On</span><span class="dark:hidden block">Off</span>)
		</span>
	</label>	
</div>

<style>
	input:checked + .slider:before {
		transform: translateX(26px);
	}
</style>